<!DOCTYPE html>

<html lang="en">
<head>
        <title>{{title}}</title>

        <script src="/static/jquery/dist/jquery.min.js"></script>
        <link href="/static/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/static/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
        <script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
<p>welcome to the {{title}}'s page</p>

<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-danger">Danger</button>

</body>
<script>
    $('.btn-primary').click(function(context) {
        alert('Clicked');
    });
</script>
</html>